<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>waitwhat</title>
    <link rel="stylesheet" href="src/assets/css/style.css" />
  </head>
  <body>
    <div class="h-full" style="flex-direction: column; display: flex">
      <input
        placeholder="Enter search term (regex)"
        name="filter"
        class="w-screen flex-none input input-bordered"
        hx-post="/wails-go/filter"
        hx-trigger="keyup delay:300ms"
        hx-target="#list-container"
      />
      <div
        id="list-container"
        class="w-screen"
        hx-get="/wails-go/get-list"
        hx-trigger="load"
      >
        Loading...
      </div>
    </div>
    <script src="./src/assets/htmx.min.js" type="module"></script>
    <script src="./src/main.js" type="module"></script>
  </body>
</html>
