package cmd


templ generateList(entries []string) {
	for _, entry := range entries {
		<button
			class="selection"
			name="secret"
			tabindex="0"
			type="submit"
			value={entry}
			>
		{entry}
		</button>
	}
}

// vim: set ft=go
