package cmd


templ generateList(entries []string) {
	for _, entry := range entries {
		<label>
			<input
				type="radio"
				class="selection"
				name="secret"
				value={entry}
				checked
				/>
			{entry}
		</label>
	}
}

// vim: set ft=go
