package cmd

import "strconv"

templ generateList(entries []string) {
	<select class="select select-bordered big-select" name="entries" id="secret" size={ strconv.Itoa(len(entries)) }>
		for _, entry := range entries {
			<option value={ entry }>{ entry }</option>
		}
	</select>
}

// vim: set ft=go
